<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menu Lateral</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
	<link rel="stylesheet" href="header.component.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<a href="#"> <img src="../assets/unicauca.png" alt=""></a>

			<div class="logo">
				<h1>INICIO</h1>
			</div>
            
			<nav class="login">
				<a href="#">CERRAR SESION</a>
			</nav>

            <nav class="cdu">
				<a>CENTRO DEPORTIVO UNIVERSITARIO</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
        <h1>Bienvenido</h1>
        <h1>ADMINISTRADOR</h1>
		<nav>
			<a href="#">INICIO</a>
			<a href="reservar">RESERVAR ESPACIOS</a>
			<a href="estadisticas">HISTORIAL</a>
			<a href="calendario">HORARIOS FIJOS</a>
			<a href="gestionar">GESTIONAR ESCENARIOS</a>
		</nav>
		<label for="btn-menu">❌</label>
	</div>
</div>
</body>
</html>