<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="home-mas-noticias.component.css">
</head>
<main>
  <h2 class="titulo">Mas Noticias</h2>
  <div class="contenedor-noticias">
    <div class="cards">
      <img src="../assets/JuegosDeportivos.jpg" alt="">
      <h4>Noticia 1</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>

    <div class="cards">
      <img src="../assets/futbolSala.jpeg" alt="">
      <h4>Noticia 2</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>

    <div class="cards">
      <img src="../assets/JuegosSintraunicol2018.jpg" alt="">
      <h4>Noticia 3</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>
    <div class="cards">
        <img src="../assets/JuegosDeportivos.jpg" alt="">
        <h4>Noticia 4</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
  
      <div class="cards">
        <img src="../assets/futbolSala.jpeg" alt="">
        <h4>Noticia 5</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
  
      <div class="cards">
        <img src="../assets/JuegosSintraunicol2018.jpg" alt="">
        <h4>Noticia 6</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
      <div class="cards">
        <img src="../assets/JuegosDeportivos.jpg" alt="">
        <h4>Noticia 7</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
  
      <div class="cards">
        <img src="../assets/futbolSala.jpeg" alt="">
        <h4>Noticia 8</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
  
      <div class="cards">
        <img src="../assets/JuegosSintraunicol2018.jpg" alt="">
        <h4>Noticia 9</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Odit amet consectetur non id facere.
          Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
          ut quibusdam.
        </p>
      </div>
  </div>
</main>