<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="home.component.css">
</head>
<main>
  <h2 class="titulo1">Eventos</h2>
  <div class="contenedor-eventos">
    <div class="box">
      <img src="../assets/futsal.jpg" alt="">
      <span>Futsal</span>
    </div>

    <div class="box">
      <img src="../assets/baloncesto.jpg" alt="">
      <span>Baloncesto</span>
    </div>

    <div class="box">
      <img src="../assets/futbol.jpg" alt="">
      <span>Futbol</span>
    </div>

    <div class="box">
      <img src="../assets/natacion.jpg" alt="">
      <span>Natacion</span>
    </div>

    <div class="box">
      <img src="../assets/tenis.jpg" alt="">
      <span>Tenis</span>
    </div>
  </div>

  <h2 class="titulo">Noticias</h2>
  <div class="contenedor-noticias">
    <div class="cards">
      <img src="../assets/JuegosDeportivos.jpg" alt="">
      <h4>Noticia 1</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>

    <div class="cards">
      <img src="../assets/futbolSala.jpeg" alt="">
      <h4>Noticia 2</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>

    <div class="cards">
      <img src="../assets/JuegosSintraunicol2018.jpg" alt="">
      <h4>Noticia 3</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit amet consectetur non id facere.
        Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim,
        ut quibusdam.
      </p>
    </div>
    <div class="btn-noticias">
        <a href="masNoticias">Mas Noticias</a>
    </div>
  </div>
</main>
